<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>选手加票</title>
</head>
<body style="width: 980px; margin: 0 auto">
<script type="text/javascript">
function validateForm(){
    var a=document.forms["Form"]["id"].value;
    var b=document.forms["Form"]["number"].value;
    if (a==null || a=="",b==null || b==""){
        alert("Please Fill All Required Field");
         return false;
    }
}
</script>
<form action="addVotes" name = "Form" onsubmit="return validateForm()" method="POST">
    id:<input type="text" name="id">
    票数：<input type="text" name="number">
    <input type="submit" value="投票">
</form>

</body>
</html>