<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>选手报名</title>
</head>
<body>
    <h2>选手报名</h2>
    <form action="apply" method="post" name="apply">
        昵称：<input type="text" name="Nickname">
        姓名：<input type="text" name="Name">
        电话：<input type="text" name="Telephone">
        <input type="submit" value="提交" >
    </form>
    <h3>{{message}}</h3>
</body>
</html>