<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>更改选手状态</title>
</head>
<body style="width: 980px; margin: 0 auto">
<script type="text/javascript">
function validateForm(){
    var a=document.forms["Form"]["id"].value;
    if (a==null || a==""){
        alert("Please Fill All Required Field");
         return false;
    }
}
</script>
<form action="changeAnchorState" name = "Form" onsubmit="return validateForm()" method="POST">
    id:<input type="text" name="id">
    <input type="radio" name="choice" value="participation" checked>参赛
    <input type="radio" name="choice" value="dropout">退出
    <input type="submit" value="设置">
</form>

</body>
</html>